bin/
obj/
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
mono_crash.*
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.vscode/
.vscode/*
.idea/
.idea/*
ScaffoldingReadMe.txt
project.lock.json
project.fragment.lock.json
artifacts/
StyleCopReport.xml
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
_chutzpah*
.vs/
*.VisualState.xml
TestResult.xml
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
*.Publish.xml
*.azurePubxml
*.pubxml
*.publishproj
publish/
.vscode/
.vscode/*
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.vscode/
.vscode/*
.idea/
.idea/*
ScaffoldingReadMe.txt
project.lock.json
project.fragment.lock.json
artifacts/
StyleCopReport.xml
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
_chutzpah*
.vs/
*.VisualState.xml
TestResult.xml
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
*.Publish.xml
*.azurePubxml
*.pubxml
*.publishproj
publish/
.vscode/
.vscode/*
